/* some style */

html, body {
  height: 100%;
}

#charts {
  margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  /* This centers our sketch horizontally. */
  justify-content: center;

}
